/* ///// HEADINGS ///// */
body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  background-color: #FEF2E4;
}
h1, h2 {
  font-family: 'Knewave', cursive;
}
h3, h4, h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: rgb(50, 50, 50);
}
h1 {
  margin-top: 10px;
  line-height: 1em;
  font-size: 2em;
  color: white;
}
h1.small {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #ffffff;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.5em;
}
p, label, li {
  line-height: 1.8em;
  font-size: 1.3em;
  color: rgb(80, 80, 80);
}
figcaption {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}
a:link, a:visited {
  color: rgb(50, 50, 50);
}
a:hover {
  text-decoration: underline;
}

/* ///// NAV STYLES ///// */
.header {
  background-color: #6a1a15;
}
nav {
  text-align: center;
  margin: 10px 0 0 0;
  padding-top: 14px;
}
nav li {
  display: inline;
  font-size: 1em;
}
nav a:link, nav a:visited {
  font-family: 'Knewave', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
  padding: 4px 18px;
}
nav a:hover {
  color: #ead39c;
  text-decoration: none;
}

a img {
  opacity: 1;
}
a:hover img {
  opacity: 0.65;
}
/* /////CUSTOM CLASSES///// */
.socialmedia {
  margin: 16px 0 0 0;
  display: inline;
}
.order {
  border: 2px solid #FFFFFF;
}
.order:hover {
  border: 2px solid #ead39c;
}
.quotes {
  background-color: rgba(251,151,87,0.4);
}
.footer {
  background-color: #6a1a15;
}
.footer p {
  text-align: center;
  color: rgb(255,255,255);
}
.footer nav {
  display: inline;
  text-align: center;
  color: rgb(255,255,255);
}
.footer nav a:link, .footer nav a:visited {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: none;
}
/* CUSTOM MENU CLASSES */
.pizzamenu {
  padding: 20px;
  float: left;
}
.pizzamenu-p {
  line-height: 30px;
}
h2.index-h2 {
  font-size: 2em;
  text-align: center;
}
h2.index-h2-quotes {
  text-align: center;
}
h3.pizzaHeader-h3 {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
}
h3.menu-h3 {
  font-size: 1.5em;
  padding-top: 5px;
}
h3.menuHeader-h3 {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
}
p.menuParagraph-pBold {
  text-align: center;
  font-weight: bolder;
}
p.menuParagraph-p {
  text-align: center;
}
.background {
  background-color: #F4EADE;
}
hr {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
/* /////MODIFIED ZURB CLASSES///// */
.tabs-title a:link, a:visited {
  color: #000000;
}
.tabs-title a:hover {
  color: #000000;
}
.orbit-caption {
  text-align: center;
}
.title-bar {
  background-color: #6a1a15;
  font-family: 'Knewave', cursive;
  font-size: 1.6em;
}

h2.h2-about {
  text-align: center;
}

.p-about {
  font-family: 'lato';
  font-size: 1.3em;
}
.index-h1:hover {
  text-decoration: none;
}
.index-h1:hover {
  color: #ead39c;
}
