<div class="header">
  <div class="grid-container" >
    <header class="grid-x grid-padding-x">
      <section class="cell medium-3 large-3">
        <a href="index.html"><h1>Zachary's</h1>
        <h1 class="small">Chicago Pizza</h1></a>
      </section>
      <section class="cell auto"></section>
      <section class="cell medium-5 large-4">
        <nav>
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="order.html" class="order">Order</a></li>
          </ul>
        </nav>
      </section>
      <section class="cell medium-3 large-2">
        <img src="img/facebook.png" alt="" class="socialmedia">
        <img src="img/twitter.png" alt="" class="socialmedia">
        <img src="img/instagram.png" alt="" class="socialmedia">
      </section>
    </header>
  </div>
</div>
